:root {
    --gap: 30px;
    --color-main: rgba(2, 9, 68);
    --color-main-shadowed: rgba(2, 9, 68, 0.3);
    --main-background: url(../imagens/background.svg);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    max-width: 100rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-bg {
    background-image: var(--main-background);
    background-size: auto;
    background-position: center center;
}

.my-font {
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-style: italic;
    font-variation-settings:
        "wdth" 97;
}

.section-view {
    min-height: 100vh;
}

.menu-spacing {
    height: 6.8rem;
} 

.end-spacing {
    height: 15rem;
}

/* Configurações da ToolBar (menu) */
body .menu {
    background: var(--main-background);
    position: fixed;
    max-width: 100rem;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    z-index: 1000;
}

body .menu-content {
    display: flex;
    justify-content: space-between;
    color: var(--color-main);
    margin: 0;
}

body .menu-content h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

body .menu-content ul {
    display: flex;
    justify-content: space-between;
}

body .menu-content a {
    color: inherit;
    display: block;
    padding: 2rem;
    font-size: 1.3rem;
    position: relative;
}

body .menu-content h1, nav {
    background: white;
}

body .menu-content a {
    color: inherit;
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    position: relative;
}

body .menu-content ul li a:hover{
    background: var(--main-background);
    color: white;
    transform: scale(1.2);
}
/* Fim das configurações da ToolBar (menu) */

/* Configurações da introdução */

body .section-apresentation {
    font-size: 2.5rem;
    color: white;
}

body .section-apresentation .intro-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap);
    align-items: center;
}

body .section-apresentation .intro-text-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 20%;
    margin-left: 2rem;
}

body .section-apresentation .intro-text-content p {
    margin: 0.5rem 0;
    font-size: 1.5rem;    
}

body .section-apresentation .intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}

body .section-apresentation .intro-img img{
    max-height: 75%;
    max-width: 75%;
    object-fit: cover;
    border: 0.2rem solid white;
    border-radius: 10%;
}
/* Fim das configurações da introdução */

/* Configurações de learning */

.section-expertise {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body .section-expertise .learnig-content {
    height: 90%;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

body .section-expertise .learnig-content .article-content {
    margin: 0 1rem;
    border: 0.1rem solid var(--color-main);
    color: white;
    background: var(--main-background);
    overflow: auto;

}

body .section-expertise .learnig-content h3 {
    text-align: center;
    font-size: 5rem;
    background: rgba(0, 0, 0, 0.3);
}

body .section-expertise .learnig-content p {
    font-size: 2rem;
    padding: 1rem;
}

body .section-expertise .learnig-content ul {
    column-count: 2;
}

body .section-expertise .learnig-content li {
    font-size: 1.5rem;
    padding-left: 2rem;
}

/* Fim configurações de learning */

/* 2° configuração de learning */

body .section-expertise .learnig-content .html a {
    color: #00FFFF;
}

body .section-expertise .learnig-content .html .observacao p {
    font-size: 1.2rem;
    color: red;
}

/*  Fim 2° configuração de learning */

/* Configurações dos hobbies */

body .section-hobbies {
    background: rgba(0, 0, 0, 0.3);
    padding-top: -2rem;
    margin-top: 2rem;
    border: 0.2rem solid white;
    border-radius: 15%;
}

body .section-hobbies .hobbies-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
}

body .section-hobbies .hobbies-content h3 {
    font-size: 5rem;
    color: white;
    text-align: center;
    margin: 0.8rem;
    padding: 2rem;
}

body .section-hobbies .hobbies-content .esportes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

body .section-hobbies .hobbies-content img {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    border-radius: 15%;
    transition: 0.3s ease-in-out;
}

body .section-hobbies .hobbies-content img:hover {
    transform: scale(1.4);
}

body .section-hobbies .hobbies-content .animes {
    height: 100%;
    margin: 0 auto;
    color: white;
}

body .section-hobbies .hobbies-content .animes caption {
    text-align: left;
}

/* Fim configurações dos hobbies */