
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 40px;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 
    Grid template cria as colunas. 
    Comando repeat repete quantas colunas criar
    */
    gap: 30px;
}

div .val {
    background: blueviolet;
    min-height: 50px;
    overflow: hidden;
    white-space: nowrap;
}

div .val:hover {
    background: purple;
    white-space: normal;
    grid-row: span 3;
}

