
/*
Para verificar a especificiade basta passar o mouse em cima de um seletor
A ordem de especificidade segue esta ordem:
Type        - ID    - Classes,atributos,pseudo-classes  - Elementos,pseudo-elementos
 ID         - 01    -               00                  -           00
Class       - 00    -               01                  -           00
Element     - 00    -               00                  -           01 
ID+Class    - 01    -               01                  -           00
Element+Clas- 00    -               01                  -           01
    ALL     - 01    -               01                  -           01

Entretanto comandos podem ter mais de uma especificidade, dependendo da hierarquia:
Type        - ID    - Classes,atributos,pseudo-classes  - Elementos,pseudo-elementos
ID + ID+Clas- 02    -               01                  -           00

A ordem dos comandos é importante, entretanto o grau de especificidade e maior.
ID + ID+Class = 02-01-01 > ID+Class+Element = 01-01-01

Definir diretamente no elemento do html, "style=" é o maior nível de especificidade.

Pode utilizar-se a variavel: !important
Assim que usar, o comando tera nível superior as especificidades.
*/

#b #p.p /* ID + ID+Class */ {
    background: rgba(0, 0, 0, 0.3);
    color: black;
}

#p /* ID */{
    background: blue;
}

.p /* Class */{
    font-size: 10vw;
}

p /* Element */{
    color: red !important;
}

#p.p /* ID+Class */ {
    background: blue;
}

p.p /* Element+Class */{
    font-size: 10vw;
}
p#p.p /* ALL */ {
    background: pink;
}
