
/*
Existe o conceito de medidas absolutas e relativas.
Por padrão os navegadores usam medidas relativas, por isso conceguimos aumentar a letra.
*/

html {
    font-size: 62.5%;
    scroll-behavior:smooth; /* Configura a rolagem da pagina suavemente, sem o teletransporte */
}

* {
    margin: 0; /* Medida absoluta */
    padding: 0; /* Medida absoluta */
}

.pai {
    height: 100vw; /* Medida relativa */
    font-size: 30px; /* Medida absoluta */
    overflow: hidden;
}

p {
    font-size: 1.6rem; /* 
    Medida relativa, o "em" baseia-se em uma objeto pai 
    Sendo que, se o pai tem 30px e o filho 1em, logo o filho tem 30px
    Caso o filho tenha 0.5em , ele tem 15px, é relativo.

    A medida "rem" referece ao arquivo root (html), funciona igual ao "em".
    */ 
}

.color-one {
    background: blueviolet;
}
.color-two {
    background: pink;
}
.color-three {
    background: greenyellow;
}

