
* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(0, 0, 0, 0.3);
}

/* Cria e seleciona meus proprios atributos */
[meu-atributo], [attr] {
    text-align: center;
    font-size: 12vw;
    background: pink;
}
/* Ambos recebem a mesma classe, mas os valores passados são diferentes, mudando o evento */
[attr~="x"] {
    color: aqua;
}
[attr~="y"] {
    color: purple;
}

form {
    background-image: url(../imagens/kazuma.jpeg);
    background-size: auto;
    background-position: center;
    background-attachment: local;
}

/* Seleciona um atributo de acordo com o tipo */
input[type="radio"] {
    transform: scale(1.5);
}
h1 {
    background: rgba(16, 34, 197, 0.5);
    text-align: center;
}
/* O metodo transition é capaz de configirar o time de animação do clique */
form p.racas-types {
    transition: all 200ms ease-in-out;
    font-size: 5vw;
    text-align: center;
}
/* Configura o "hover" para que ao passar o mouse mude de cor */
form p.racas-types:hover {
    background: red;
}

input[type="checkbox"] {
    margin-left: 10vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    transform: scale(3.0);
}
/* Quando o "input" estiver marcado, o proximo elemento será alterado */
input:checked + p.tx {
    color: pink;
    text-align: center;
    font-size: 10vw;
}
/* Seleciona os filhos da "ul", com a possibilidade de escolher qual a posição */
ul li:nth-child(2) {
    background: red;
}