# Ignorar diretórios e arquivos específicos

Codigos_Rapidos/
LOL/leagueoflegends.txt
LOL/nomes.txt
LOL/test.py
Projeto_Tkinter/Model/tt.py
Projeto_Tkinter/pipocaria_imperial
Projeto_Tkinter/pp.py
Twitter/

# Extras------------------------

# Ignorar binários compilados
*.exe
*.o
*.obj

# Ignorar diretórios de build
/build/
out/

# Ignorar diretórios de cache
__pycache__/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de banco de dados
*.db

# Ignorar arquivos de configuração local
*.local
