{% load static %}<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} TioZiio</title>

    <link rel="stylesheet" href="{% static 'global/css/styles.css' %}">

</head>
<body>
    {% include 'global/partials/menu.html' %}
    {% if text %}
        <h1>{% block texto %} FRASE AQUI {% endblock texto %}</h1>
    {% endif %}
    {% include 'global/partials/nome.html' %}
    <main class="content">
        {% block home %}{% endblock home %}
        {% block blog %}{% endblock blog %}
    </main>
    
</body>
</html>